<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.firstname = null;
            $scope.requested_date = null;
            $scope.rmarks = null;
            $scope.item = [{type: null, name: null, size: null, qty: null}, {
                type: null,
                name: null,
                size: null,
                qty: null
            }];

            $scope.removeItem = function (obj) {
                if (obj > -1) {
                    $scope.item.splice(obj, 1);
                }
            }
            $scope.addItem = function () {
                var itemObj = {type: null, name: null, size: null, qty: null};
                $scope.item.push(itemObj);
            }
            $scope.save = function () {
                var obj = {
                    supplier: $scope.supplier,
                    requested_date: $scope.requested_date,
                    rmarks: $scope.rmarks,
                    item: $scope.item
                }

                $http.post('/save-shipment', obj).then(function (response) {

                    if (response.data)

                        $scope.msg = "Post Data Submitted Successfully!";

                }, function (response) {

                    console.log(response);

                });
            }
        });
    </script>
    <div class="content">
        <div class="header">

            <h1 class="page-title">New Shipment Request</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="new-user"> Shipment</a></li>
                <li class="active">Shipment Details</li>
            </ul>

        </div>
        <div class="main-content" ng-app="myApp" ng-controller="myCtrl">
            <div class="row">
                <div class="col-md-6">

                    <div id="home">
                        <form>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Supplier Name</label>
                                        <select ng-model="supplier" class="form-control" id="task" name="task">
                                            <option style="display: none" value="">Select one supplier</option>
                                            <option th:each="supplier : ${suppliersList}" th:value="${supplier}"
                                                    th:text="${supplier.name}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Requested Date</label>
                                        <input name="lastName" ng-model="requested_date" placeholder="yyyy-mm-dd"
                                               type="text" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Rmarks</label>
                                        <input name="rmarks" ng-model="rmarks" type="text" class="form-control"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Requested Item</label>
                                        <table class="table table-condensed table-responsive ">
                                            <tr>
                                                <td>Type</td>
                                                <td>Item</td>
                                                <td>Size</td>
                                                <td>Qty</td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="x in item track by $index">
                                                <td><input type="text" ng-model="x.type"></td>
                                                <td><input type="text" ng-model="x.name"></td>
                                                <td><input type="text" ng-model="x.size"></td>
                                                <td><input type="text" ng-model="x.qty"></td>
                                                <td>
                                                    <button ng-click="removeItem($index)"><i class="icon-remove">X</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <button ng-click="addItem()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="pull-right" ng-click="save()">Save</button>
                        </form>
                    </div>


                </div>
            </div>


        </div>
    </div>

</div>