<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="content">
        <div class="header">

            <h1 class="page-title">Receive List</h1>
            <ul class="breadcrumb">
                <li><a href="/">Receive</a></li>
                <li class="active">Receive List</li>
            </ul>

        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-1">SL</th>
                            <th class="col-md-3">suppliers Name</th>
                            <th class="col-md-1">Request Date</th>
                            <th class="col-md-1">Required Date</th>
                            <!--<th class="col-md-3">Note</th>-->
                            <th class="col-md-1">Status</th>
                            <th class="col-md-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="listObj:${list}">
                            <td th:text="${listObj.id}"></td>
                            <td th:text="${listObj.suppliers.name }"></td>
                            <td th:text="${#dates.format(listObj.receiveDate, 'dd MMM yyyy')}"></td>
                            <td th:text="${#dates.format(listObj.approvedDate, 'dd MMM yyyy')}"></td>
                            <!--<td th:text="${listObj.note}"></td>-->
                            <td>
                                <div th:switch="${listObj.status}" th:remove="tag">
                                    <span th:case="Initiated"><span class="label label-default">Initiated</span></span>
                                    <span th:case="Froward"><span class="label label-success">Froward</span></span>
                                    <span th:case="Approved"><span class="label label-success">Approved</span></span>
                                </div>

                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="#" th:data="${listObj.id}" class="btn btn-sm btn-default receive-details"
                                       title="Details"><span class="glyphicon glyphicon-new-window"></span></a>
                                    <a th:if="${listObj.status=='Initiated'}" class="btn btn-sm btn-default"
                                       title="Edit"><span class="fa fa-pencil"></span></a>
                                    <a th:if="${listObj.status=='Initiated'}" href="#" th:data="${listObj.id}"
                                       class="btn btn-sm btn-default order-froward"
                                       title="Froward"><span class="fa fa-paper-plane"></span></a>
                                    <a th:if="${listObj.status=='Initiated'}" href="#" th:data="${listObj.id}"
                                       class="btn btn-sm btn-default brand-deactivate"><span
                                            class="glyphicon glyphicon-trash"></span></a>
                                    <a th:if="${listObj.status=='Approved'}" href="#" th:data="${listObj.id}"
                                       title="Receive" class="btn btn-sm btn-default order-receive"><span
                                            class="glyphicon glyphicon-log-in"></span></a>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="order-details-form" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="Order_Details_id">Order Details ()</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <td>Suppliers Name :</td>
                            <td><input class="form-control" readonly id="order_Details_suppliers"/></td>
                        </tr>
                        <tr>
                            <td>Request Date :</td>
                            <td><input class="form-control" readonly id="order_details_requestDate"/></td>
                        </tr>
                        <tr>
                            <td>Required Date :</td>
                            <td><input class="form-control" readonly id="order_Details_requiredDate"/></td>
                        </tr>
                        <tr>
                            <td>Note :</td>
                            <td><textarea class="form-control" readonly id="order_Details_note"
                                          style="resize:none"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Product Name</th>
                                        <th>Brand</th>
                                        <th>Qrt</th>
                                    </tr>
                                    </thead>
                                    <tbody id="order_details_table"></tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            alert();
            $(".receive-details").click(function () {
//            var id = $(this).attr('data');
                alert();
            });
        });
    </script>
</div>
