<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <span th:include="error/errorHeader::headerPortion" th:remove="tag"/>
</head>
<body class=" theme-blue">
<span th:include="error/headerJs::headerJsPortion" th:remove="tag"/>
<span th:include="error/errorNevigation::nevPortion" th:remove="tag"/>

</div>


<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>
<span th:include="error/errorBodyJs::bodyJsPortion" th:remove="tag"/>
</body>
</html>