<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="content">
        <div class="header">

            <h1 class="page-title">User List</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="new-user">Users</a></li>
                <li class="active">User List</li>
            </ul>

        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <th>SL</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="listObj:${list}">
                            <td th:text="${listObj.id}">SL</td>
                            <td th:text="${listObj.firstName +' '+listObj.lastName}">Name</td>
                            <td th:text="${listObj.roleList[0].roleName}">Role</td>
                            <td th:text="${listObj.phone}">Phone</td>
                            <td th:text="${listObj.email}">E-mail</td>
                            <td>
                                <button class="btn btn-success btn-xs">Edit</button>
                                <form th:action="@{/deleteUser/}+${listObj.id}" th:method="POST">
                                    <button type="submit" class="btn btn-danger btn-xs btnDelete">Delete</button>
                                </form>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
//        $(document).ready(function () {
//
//            $(".btnDelete").on('click', function(event){
//                alert( $(this).attr('data'));
//            });
//        });

    </script>
</div>