<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="content">
        <div class="header">

            <h1 class="page-title">User List</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="new-user">Users</a></li>
                <li class="active">User List</li>
            </ul>

        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th>SL</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="listObj:${list}">
                            <td th:text="${listObj.id}">SL</td>
                            <td th:text="${listObj.firstName +' '+listObj.lastName}">Name</td>
                            <td th:text="${listObj.roleList[0].roleName}">Role</td>
                            <td th:text="${listObj.phone}">Phone</td>
                            <td th:text="${listObj.email}">E-mail</td>
                            <td>
                                <!--<button class="btn btn-success btn-xs">Edit</button>-->
                                <!--<form th:action="@{/deleteUser/}+${listObj.id}" th:method="POST">-->
                                    <!--<button type="submit" class="btn btn-danger btn-xs btnDelete">Delete</button>-->
                                <!--</form>-->
                                <div class="btn-group">
                                    <a href="#" th:data="${listObj.id}" class="btn btn-sm btn-default btnDelete-user"><span
                                            class="glyphicon glyphicon-trash"></span></a>
                                    <a th:href="@{/editUser/}+${listObj.id}" class="btn btn-sm btn-default"><span
                                            class="glyphicon glyphicon-edit"></span></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $(".btnDelete-user").on('click', function(event){
                var id = $(this).attr('data');
                $.ajax({
                    url: "/deleteUser/"+id,
                    type: "POST",
                    success: function (response, status) {
                        if (status == 'success') {
                            toastr.options.positionClass = 'toast-top-center';
                            toastr.success('Update complete');
                            location.reload();
                        }
                    }
                });
            });
        });

    </script>
</div>