<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <style>
        .sn {
            width: 10px;
        }
    </style>
    <div class="content">
        <div class="header">

            <h1 class="page-title">New Order</h1>
            <ul class="breadcrumb">
                <li>Order</li>
                <li class="active">New Order</li>
            </ul>

        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-12 center">
                    <br>
                    <div id="home">
                        <form th:action="@{/saveOrder}" th:method="POST" th:object="${order}">
                            <input th:name="id" th:value="*{id}" type="hidden" class="form-control">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Request Date</td>
                                    <td><input id="requestDate" th:name="requestDate" th:value="*{requestDate}" class="form-control" type="text"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Required Date</td>
                                    <td><input id="requiredDate" th:name="requiredDate" th:value="*{requiredDate}" class="form-control" type="text"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Request To</td>
                                    <td>
                                        <div th:if="${suppliersList != null && !#lists.isEmpty(suppliersList)}"
                                             th:remove="tag">
                                            <select class="form-control" th:name="suppliers" th:field="*{suppliers}" id="suppliers">
                                                <option style="display: none" value="">Select one supplier</option>
                                                <option th:each="supplier : ${suppliersList}"
                                                        th:value="${supplier.id}"
                                                        th:text="${supplier.name}">
                                                </option>
                                            </select>
                                        </div>
                                        <div th:if="${suppliersList == null || #lists.isEmpty(suppliersList)}">
                                            <div>No Supplier were found, please create some <a href="/new-supplier">Supplier
                                                Name</a> first
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Note</td>
                                    <td>
                                        <textarea th:name="note" th:value="*{note}"  class="form-control"></textarea>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <table id="tbl_posts" class="table table-bordered table-condensed">
                                            <thead>
                                            <tr>
                                                <th class="sn">SL</th>
                                                <!--<th>Category</th>-->
                                                <th>Product</th>
                                                <th>Unit</th>
                                                <th>Qrt</th>
                                                <th class="sn"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbl_posts_body">
                                                <tr id="rec-1">
                                                    <td class="sn">1.</td>
                                                    <!--<td >-->
                                                        <!--<input class="form-control" th:name="dtl[0].category"  value="2"/>-->
                                                    <!--</td>-->
                                                    <td>
                                                        <select class="form-control select2-dropdown" th:name="dtl[0].product" >
                                                            <option style="display: none" value="">Select one</option>
                                                            <option th:each="product : ${productList}"
                                                                    th:value="${product.id}"
                                                                    th:text="${product.category.name} +' - '+${product.name}">
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td ><input class="form-control" th:name="dtl[0].orderQty" value="2"/></td>
                                                    <td>
                                                        <select class="form-control select2-dropdown" th:name="dtl[0].unit" >
                                                            <option style="display: none" value="">Select one</option>
                                                            <option th:each="unit : ${unitList}"
                                                                    th:value="${unit.id}"
                                                                    th:text="${unit.name}">
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td class="sn"><a class="btn btn-sm pull-left add-record" data-added="0"><i
                                                            class="glyphicon glyphicon-plus"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                            <div class="btn-toolbar list-toolbar">
                                <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Save
                                </button>
                                <a th:href="@{'/brand_list'}" class="btn btn-sm btn-info"><i class="fa fa-back"></i>
                                    Back</a>
                            </div>
                        </form>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            $("#requestDate").datepicker({
                dateFormat: "yy-mm-dd",
                defaultDate: +0
            });
            $("#requiredDate").datepicker({
                dateFormat: "yy-mm-dd",
            });
        });
        $(document).ready(function () {

            var unitList = /*[[${unitList}]]*/;
            var unitOption = '';
            for(i=0;i<unitList.length; i++){
                unitOption += '<option  value="'+unitList[i].id+'" > '+unitList[i].name+'</option>';
            };
            var productList = /*[[${productList}]]*/;
            console.log(productList);
            var productOption = '';
            for(i=0;i<productList.length; i++){
                productOption += '<option  value="'+productList[i].id+'" > '+productList[i].category.name+' - '+productList[i].name+'</option>';
            }
            $(".add-record").click(function () {
                var size = $('#tbl_posts >tbody >tr').length + 1;
                var txt = '<tr id="rec-'+size+'">'+
                        '<td class="sn">'+size+'.</td>'+
//                        '<td >'+
//                        '<input class="form-control"  value="7"/>'+
//                        '</td>'+
                        '<td>'+
                        '<select class="form-control select2-dropdown" name="dtl['+(size-1)+'].product" >'+
                        '<option style="display: none" value="">Select one</option>'+
                        productOption+
                        '</select>'+
                        '</td>'+
                        '<td ><input class="form-control" name="dtl['+(size-1)+'].orderQty" value="2"/></td>'+
                        '<td>'+
                        '<select class="form-control select2-dropdown" name="dtl['+(size-1)+'].unit" >'+
                        '<option style="display: none" value="">Select one</option>'+
                        //'<option th:each="unit : ${unitList}" th:value="${unit.id}" th:text="${unit.name}"> </option>'+
                        unitOption+
                        '</select>'+
                        '</td>'+
                        '<td class="sn"><a class="btn btn-xs delete-record" data-id="'+size+'"><i class="glyphicon glyphicon-trash"></i></a></td>'+
                        '</tr>';
                $("#tbl_posts_body").append(txt);
            });


            $("#tbl_posts").on('click','.delete-record',function(){
                $(this).parent().parent().remove();
            });

            $('.select2-dropdown').select2();
        });
    </script>
</div>