<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="content">
        <div class="header">

            <h1 class="page-title">Suppliers User</h1>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="new-supplier">Suppliers</a></li>
                <li class="active">Suppliers Details</li>
            </ul>

        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-md-6 center">
                    <br>
                    <div id="home">
                        <form th:action="@{/saveSuppliers}" th:object="${suppliers}"  th:method="POST">
                            <input th:name="id" th:value="*{id}" type="hidden" class="form-control">
                            <div class="form-group">
                                <label>Name</label>
                                <input th:name="name" th:value="*{name}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Suppliers Type</label>
                                <select th:name="type" name="user_role" th:field="*{type}" class="form-control">
                                    <option value="" style="display: none">Select One Type</option>
                                    <option th:value="OWN">Own Office</option>
                                    <option th:value="VENDOR">Vendor</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input th:name="address" th:value="*{address}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input th:name="email" th:value="*{email}" type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Contact Person Name</label>
                                <input th:name="contactPersonName" th:value="*{contactPersonName}" type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Contact Person Phone</label>
                                <input th:name="contactPersonPhone" th:value="*{contactPersonPhone}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea th:name="remarks" th:value="*{remarks}" class="form-control"></textarea>
                            </div>
                            <div class="btn-toolbar list-toolbar">
                                <button type="submit" class="btn btn-sx btn-info"><i class="fa fa-save"></i> Save</button>
                                <a  th:href="@{'/supplier-list'}" class="btn btn-sx btn-info"><i class="fa fa-back"></i> Back</a>
                            </div>
                        </form>
                    </div>



                </div>
            </div>



        </div>
    </div>
</div>